.agreement {
    max-width: 1200px;
    margin: 0 auto;
    padding: 60px 40px;
    font-family: SFProText;
    font-size: 18px;
    line-height: 1.6;
}

.agreement h1 {
    font-family: 'HomeVideo', sans-serif;
    font-size: 36px;
    margin-bottom: 30px;
}

.agreement h2 {
    font-family: 'HomeVideo', sans-serif;
    font-size: 24px;
    margin-top: 30px;
}

.agreement ul {
    padding-left: 20px;
}

@media (max-width: 480px) {
    .agreement {
        padding: 30px 15px;
    }
    .agreement h1 {
        font-size: 24px;
    }
    .agreement h2 {
        font-size: 18px;
    }
    .agreement {
        font-size: 16px;
    }
}
