@font-face {
  font-family: 'HomeVideo';
  src: url('./fonts/HomeVideo-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'HomeVideo';
  src: url('./fonts/HomeVideo-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'VMVSegaGenesis';
  src: url('./fonts/VMVSegaGenesis-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'SFProText';
  src: url('./fonts/SFProText-Regular.ttf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  cursor: url('./images/cursor.svg'), auto;
}

:root {
  --font-main: 'HomeVideo', sans-serif;
  --font-genesis: 'VMVSegaGenesis', sans-serif;
  --font-text: 'SFProText', sans-serif;
  --color-bg: #D1E1F2;
  --color-yellow: #F0DE87;
  --color-purple-card: #B69DFF;
  --color-blue-card: #9DD4FF;
  --color-pink-card: #FF9DE8;
  --color-shadow: #000792;
}

html {
  overflow-x: hidden;
}

body {
  margin: 0;
  overflow-x: hidden;
  width: 100%;
}

body {
  font-family: 'HomeVideo', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a, a *, button, button *, input[type="submit"], [role="button"] {
  cursor: url('./images/cursor_hover.svg'), pointer;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
